@import url(https://fonts.googleapis.com/css2?family=Anonymous+Pro&family=Share+Tech+Mono&display=swap)

*,*::before,*::after {
  box-sizing: border-box;
}
:root {
	--color-dark-green: #1b3221;
	--color-white: #FFF;
}

html {
  font-family: 'Anonymous Pro', monospace;
  background: var(--color-dark-green);
  background-size: cover;
  color: var(--color-white);
}

.text-center {
	text-align: center;
}


