*,*::before,*::after {
  box-sizing: border-box;
}
:root {
	--color-dark-green: #1b3221;
}

html {
  background: var(--color-dark-green);
  background-size: cover;
}

.text-center {
	text-align: center;
}


